.carousel-text {
  flex-basis: 50%;
  padding-top: 100px;
  padding-left: 20px;
}

.carousel-img {
  flex-basis: 50%;
}

.carousel-button {
  background-color: #ff4848;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}

.brandname {
  font-weight: 600;
  color: #ff4848;
}
